html {
	margin: 0px;
	padding: 0px;
	overflow: hidden;
}

body {
	margin: 0px;
	padding: 0px;
}

.app {
	margin: 0px;
	display: flex;
	font-family: sans-serif;
	height: 100%;
	overflow: hidden;
}

.home {
	display: flex;
	height: 100vh;
	width: 100vw;
	background-color: #2c2f33;
	margin: 0;
	padding: 0;
	overflow: hidden;
	color: #ffffff;
}

/*========================
   HOME LEFT STYLES
========================*/

.home__left {
	flex: 0.4;
	width: 100%;
	display:flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	border-top: 1px solid #99aab5;
}

.home__leftControls {
	display: flex;
	flex-direction: column;
	flex: 1;
	align-items: center;
	width: 100%;
}

.home__leftControls  > hr {
	width: 75%;
	border-top: 1px solid gray;
	opacity: 0.4;
}

.home__leftControls  > h2 {
	margin-bottom: 0;
	color: #03c4a1;
}

fieldset {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 70%;
	flex: 0.2;
	border: 1px solid #7289da;
	margin: 5px;
}

fieldset > div {
	display: flex;
	flex-direction: column;
	width: 100%;
	justify-content: center;
	align-items: center;
}


fieldset > div > input {
	border-radius: 3px;
	text-indent: 5px;
	border: none;
	outline: none;
	margin-left: 10px;
	background-color: #23272a;
	color: #fff;
	padding: 5px 10px;
	width: 90%;
	margin: 0;
	margin-bottom: 10px;
}

fieldset > div > button {
	width: 96%;
	border: none;
	outline: none;
	color: #fff;
	font-weight: bold;
	background-color: #7289da;
	padding: 10px 0;
	border-radius: 3px;
	cursor: pointer;
}

fieldset > legend {
	font-weight: bold;
}

.controls__utilities > div{
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	width: 100%;
}

.controls__utilities > div > button {
	align-self: center;
	background-color: #03C4A1;
}

#btn__stopCalib {
	background-color: salmon !important;
	display: none;
}

.controls__utilities > div > span {
	color: gray;
	font-size: 13px;
	font-weight: bold;
	margin-top: 5px;
}

.controls__utilities > div > div {
	display: flex;
	width: 100%;
	align-items: center;
	justify-content: center;
	border: 1px solid #7289da;
}


.controls__utilities > div > div > button {
	padding: 5px 10px;
	border: none;
	outline: none;
	background-color: #7289da;
	color: #fff;
	cursor: pointer;
}

.controls__utilities > div > div > input {
	flex: 1;
	text-indent: 5px;
	border: none;
	outline: none;
	background-color: #23272a;
	color: #fff;
	padding: 5px 0px;
	margin: 0;
}


.controls__results > ul {
	display: flex;
	flex-direction: column;
	width: 100%;
	margin: 5px 0;
}

.controls__results > ul > li {
	display: flex;
	list-style: none;
	padding: 5px 0px;
	font-size: 18px;
}

.controls__results > ul > li > span {
	font-weight: bold;
}

.controls__results > ul > li > p {
	margin: 0px;
	margin-left: 10px;
	color: #ccc;
}

/*========================
   HOME RIGHT STYLES
========================*/

.home__right {
	flex: 0.6;
	display:flex;
	flex-direction: column;
	align-items: center;
	border: 1px solid #99aab5;
}

.home__rightPlot {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
}

.home__rightPlot  > h2 {
	margin-bottom: 0;
	color: #03c4a1;
}

.home__rightPlot  > hr {
	width: 75%;
	border-top: 1px solid gray;
	opacity: 0.4;
}

/*========================
  	PLOT STYLES
========================*/

.home__rightPlot {
	flex: 0.5;
	width: 100%;
	border-bottom:1px solid #99aab5;
}


/*========================
   WEIGHT STYLES
========================*/

.home__rightWeights {
	flex: 0.5;
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
}

.home__rightWeights  > h2 {
	margin-bottom: 0;
	color: #03c4a1;
}

.home__rightWeights  > hr {
	width: 75%;
	border-top: 1px solid gray;
	opacity: 0.4;
}

.home__rightWeights  > li {
	padding: 10px 50px;
	list-style: none;
	font-size: 18px;
	border: 1px solid #7289da;
	display: flex;
	width: 200px;
}

.home__rightWeights > li > span {
	font-weight: bold;
}

.home__rightWeights >li > p {
	margin: 0;
	margin-left: 10px;
}

.home__rightWeights > div {
	display: flex;
}

.home__rightWeights > div > ul {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 20px;
	margin: 0px;
}

.home__rightWeights > div > ul > li {
	padding: 10px 50px;
	list-style: none;
	font-size: 18px;
	border: 1px solid #7289da;
	display: flex;
	width: 200px;
}

.home__rightWeights > div > ul > li > span {
	font-weight: bold;
}

.home__rightWeights > div > ul > li > p {
	margin: 0;
	margin-left: 10px;
}
